{
	CFBundleDevelopmentRegion = "English";
	CFBundleExecutable = "AppLibraryControllerSettings";
	CFBundleIdentifier = "com.tomaszpoliszuk.applibrarycontroller";
	CFBundleInfoDictionaryVersion = "6.0";
	CFBundlePackageType = "BNDL";
	CFBundleShortVersionString = "1.0.0";
	CFBundleSignature = "????";
	CFBundleVersion = "1.0";
	NSPrincipalClass = AppLibraryControllerSettings;
}
