{
	title = "App Library Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = enableTweak;
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
			icon = "icons/AppLibraryController.png";
		},
		{
			cell = PSGroupCell;
			label = "UI Style";
		},
		{
			cell = PSSegmentCell;
			default = 999;
			key = "uiStyle";
			label = "UI_STYLE";
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
			validValues = (
				999,
				1,
				2
			);
			validTitles = (
				DEFAULT,
				LIGHT,
				DARK
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = APP_LIBRARY_MODE_;
		},
		{
			cell = PSLinkListCell;
			detail = PSListItemsController;
			key = "selectMode";
			label = SELECT_MODE;
			default = 0;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
			validValues = (
				0,
				1,
				2,
				404,
			);
			validTitles = (
				DEFAULT,
				CATEGORIES_AND_ALPHABETIC_LIST,
				ALPHABETIC_LIST_ONLY,
				DISABLED,
			);
		},
		{
			cell = PSGroupCell;
			label = "App Library Gesture";
		},
		{
			cell = PSSegmentCell;
			key = appLibraryGesture;
			default = 999;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
			validValues = (
				999,
				0,
				1,
			);
			validTitles = (
				Default,
				Disabled,
				Enabled,
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = ALPHABETIC_LIST_SETTINGS_;
		},
		{
			cell = PSSwitchCell;
			key = alphabeticListRoundedSearchField;
			label = ROUNDED_SEARCH_FIELD;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
		},
		{
			cell = PSLinkListCell;
			detail = PSListItemsController;
			key = "alphabeticListHeaders";
			label = LIST_HEADERS;
			default = 0;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
			validValues = (
				0,
				1,
				404,
			);
			validTitles = (
				DEFAULT,
				ENABLED,
				DISABLED,
			);
		},
		{
			cell = PSGroupCell;
			label = CATEGORIES_SETTINGS_;
		},
		{
			cell = PSSwitchCell;
			key = categoriesLabels;
			label = CATEGORIES_LABELS;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = categoriesBackground;
			label = CATEGORIES_BACKGROUND;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = foldersTitles;
			label = TITLES_INSIDE_FOLDERS;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = foldersLabels;
			label = LABELS_INSIDE_FOLDERS;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = "com.tomaszpoliszuk.applibrarycontroller.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_BIGBOSS;
			action = TomaszPoliszukAtBigBoss;
			icon = "icons/packages.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
