{
	title = APP_LIBRARY_CONTROLLER;
	items = (
		{
			cell = PSSwitchCell;
			key = enableTweak;
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
			icon = icons/AppLibraryController.png;
		},
		{
			cell = PSGroupCell;
			label = UI_STYLE;
		},
		{
			cell = PSSegmentCell;
			default = 999;
			key = uiStyle;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
			validValues = (
				999,
				1,
				2
			);
			validTitles = (
				DEFAULT,
				LIGHT,
				DARK
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = APP_LIBRARY_SETTINGS_;
		},
		{
			cell = PSLinkListCell;
			detail = PSListItemsController;
			key = appLibrarytMode;
			label = APP_LIBRARY_MODE;
			default = 2;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
			validValues = (
				1,
				2,
				404,
			);
			validTitles = (
				ENABLED,
				ALPHABETIC_LIST_ONLY,
				DISABLED,
			);
		},
		{
			cell = PSSwitchCell;
			key = appLibraryGesture;
			label = GESTURE;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
		},
		{
			cell = PSGroupCell;
			label = "Newly Downloaded Apps";
		},
		{
			cell = PSSegmentCell;
			key = "SBHomeAutomaticallyAddsNewApplications";
			default = 0;
			defaults = com.apple.springboard;
			PostNotification = com.apple.springboard-prefsChanged;
			validValues = (
				0,
				1,
			);
			validTitles = (
				"Add to Home Screen",
				"App Library Only",
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "NOTIFICATION_BADGES";
		},
		{
			cell = PSSwitchCell;
			key = "SBHomeScreenShowsBadgesInAppLibrary";
			label = "Show in App Library";
			default = 1;
			defaults = com.apple.springboard;
			PostNotification = com.apple.springboard-prefsChanged;
		},
		{
			cell = PSGroupCell;
			label = ALPHABETIC_LIST_SETTINGS_;
		},
		{
			cell = PSSwitchCell;
			key = alphabeticListRoundedSearchField;
			label = ROUNDED_SEARCH_FIELD;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
		},
		{
			cell = PSLinkListCell;
			detail = PSListItemsController;
			key = alphabeticListHeaders;
			label = LIST_HEADERS;
			default = 0;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
			validValues = (
				0,
				1,
				404,
			);
			validTitles = (
				DEFAULT,
				ENABLED,
				DISABLED,
			);
		},
		{
			cell = PSGroupCell;
			label = CATEGORIES_SETTINGS_;
		},
		{
			cell = PSSwitchCell;
			key = categoriesLabels;
			label = LABELS;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
		},
		{
			cell = PSSwitchCell;
			key = categoriesBackground;
			label = BACKGROUND;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
		},
		{
			cell = PSGroupCell;
			label = FOLDERS_SETTINGS_;
		},
		{
			cell = PSSwitchCell;
			key = foldersTitles;
			label = TITLES;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
		},
		{
			cell = PSSwitchCell;
			key = foldersLabels;
			label = LABELS;
			default = 1;
			defaults = com.tomaszpoliszuk.applibrarycontroller;
			PostNotification = com.tomaszpoliszuk.applibrarycontroller.settingschanged;
		},
		{
			cell = PSGroupCell;
			label = "Activator Listeners";
			key = "activatorGroup";
		},
		{
			cell = PSLinkCell;
			key = "activatorShow";
			label = "Show App Library";
			isController = 1;
			bundle = LibActivator;
			activatorListener = com.tomaszpoliszuk.activatorlistenersforapplibrary.show;
		},
		{
			cell = PSLinkCell;
			key = "activatorHide";
			label = "Hide App Library";
			isController = 1;
			bundle = LibActivator;
			activatorListener = com.tomaszpoliszuk.activatorlistenersforapplibrary.hide;
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = icons/code.png;
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = icons/bug.png;
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_BIGBOSS;
			action = TomaszPoliszukAtBigBoss;
			icon = icons/packages.png;
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = icons/github.png;
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = icons/twitter.png;
		},
	);
}
